span.wbk_access_control {
  color: blue;
}

span.wbk_constant {
  color: red;
}

span.wbk_difine_keyword {
  color: darkcyan;
}

span.wbk_error_handle {
  color: blueviolet;
}

span.wbk_external_command {
  color: blue;
}

span.wbk_function_command {
  color: navy;
}

span.wbk_ml_attribute {
  color: green;
}

span.wbk_ml_event {
  color: blue;
}

span.wbk_ml_tag {
  color: purple;
}

span.wbk_internal_command {
  color: green;
}

span.wbk_modify_keyword {
  color: royalblue;
}

span.wbk_object {
  color: indianred;
}

span.wbk_operator {
  color: brown;
}

span.wbk_other_keyword {
  color: olive;
}

span.wbk_package_keyword {
  color: purple;
}

span.wbk_process_control {
  color: green;
}

span.wbk_query_keyword {
  color: hotpink;
}

span.wbk_types {
  color: brown;
}