* {
  font: 16px/1.2 NotoMono, "Noto Sans CJK Regular", "Courier New", Courier, monospace, "Microsoft Yahei", SimSun;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #f59;
  text-decoration: underline;
}

b {
  font-size: inherit;
  font-weight: bold;
}

body.toc {
  white-space: nowrap;
}

body.toc ul {
  list-style: none;
  margin: 0;
  padding-left: 1em;
}

div.dir {
  cursor: default;
}

div.dir:hover {
  background-color: silver;
}

div.block {
  border-left: 5px solid gray;
  padding: 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.35em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.15em;
}

h6 {
  font-size: 1.1em;
}

i {
  font-size: inherit;
  font-style: italic;
}

pre.code {
  background-color: silver;
  border: 2px dashed gray;
  overflow: auto;
  padding: 1em;
}

span.code_line {
  background-color: silver;
  color: fuchsia;
  margin: auto 0.2em;
  padding: 0.2em 0.5em;
}

u {
  font-size: inherit;
}